body {
    padding-top: 50px;
    padding-bottom: 20px;

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}
input.form-control{
    margin-bottom:1%;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.neo_width {
    width: 90vw;
    max-width: 1120px;
    min-width: 990px;
    margin: auto;
}

.header-left {
    float: left;
}

.header {
    width: 90vw;
    max-width: 1120px;
    min-width: 990px;
    margin: auto;
    margin-bottom:2%;
}


td.more-td{
    font-size: smaller;
    opacity: .6;
}
td.subject-td a{
    color:black;
    cursor:pointer;
    font-weight:bold;
}
td.subject-td a:hover{
    text-decoration:none;
    opacity:.4;
}